/*Boros Zoltán, Szoft I N, 2022.02.28 */

.html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ker{
    background-color: aqua;
    margin: 100px;
    box-shadow: 5px 5px 5px aquamarine;
}